.infoTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.infoTitle p {
    font-size: 1rem;
}

.infoTitle .icon {
    height: 24px;
    width: 24px;
}

.dropdown {
    top: 100%;
    height: auto;
    margin-top: 5px;
    margin-left: 10px;
}

.underBar {
    margin-top: -10px;
    width: 100%;
    height: 3px;
    border-radius: 8px;
    background-color: var(--yellow-200);
}