.scoreTitle {
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.scoreTitle h3 {
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 2.5px;
}

.underBar {
    width: 46vw;
    height: 3px;
    border-radius: 8px;
    background-color: var(--yellow-200);
}

.scoreContainer {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.icons {
    display: flex;
    gap: 2.5px;

    font-size: 2.2rem;
    color: var(--yellow-200);
}