.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.imgbody {
    background: var(--gray-400);
    width: 100%;
    height: 200px;
}

.imgbody img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.authorContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;

    margin-bottom: 40px;
}

.authorImg {
    background: var(--gray-400);
    width: 72px;
    height: 72px;
    border-radius: 100px;
    border: 1px solid var(--black);
    outline: 2px solid var(--yellow-200);
}

.authorImg img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}

.authorInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.author {
    display: flex;
    flex-direction: row;
    gap: 5px;

    font-size: 0.9rem;
}

.firstPart {
    color: var(--gray-400);
}

.secondPart {
    color: var(--yellow-200);
}

.time {
    color: var(--gray-400);
    font-size: 0.9rem;
    font-weight: 400;
}