.activeContainer {
    display: flex;
    align-items: center;

    background-color: var(--yellow-200);
    height: 55px;
    margin: -10px 0;
}

.activeContainer a {
    font-size: 24px;
    color: var(--red);
    text-decoration: none;
    padding-left: 20px;
}

.container a {
    font-size: 24px;
    color: var(--white);
    text-decoration: none;
    padding-left: 20px;
}

.container a:hover {
    color: var(--red);
}

@media (min-width: 1024px) {
    .activeContainer {
        justify-content: center;

        height: auto;
        padding: 5px 10px;
        border-radius: 8px;
    }
    
    .activeContainer a {
        font-size: 1.2rem;
        padding-left: 0px;
    }
    
    .container a {
        font-size: 1.2rem;
        padding-left: 0px;
    }
}

@media (min-width: 1280px) {
    .activeContainer {
        padding: 5px 10px;
    }

    .activeContainer a {
        font-size: 1.4rem;
    }
    
    .container a {
        font-size: 1.4rem;
    }
}

@media (min-width: 1440px) {
    .activeContainer {
        padding: 5px 15px;
    }

    .activeContainer a {
        font-size: 1.5rem;
    }
    
    .container a {
        font-size: 1.5rem;
    }
}