.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 8rem;
    border-bottom: 1px solid var(--yellow-200);
}

.bloodyLogo {
    height: 5.8rem;
    margin-left: 25px;
}

@media (min-width: 375px) {
    .container {
        height: 8rem;
    }
    
    .bloodyLogo {
        height: 6rem;
    }
}

@media (min-width: 425px) {
    .container {
        height: 8rem;
    }
    
    .bloodyLogo {
        height: 6.2rem;
    }
}

@media (min-width: 768px) {
    .container {
        height: 8.5rem;
    }
    
    .bloodyLogo {
        height: 6.4rem;
    }
}

@media (min-width: 1024px) {
    .container {
        height: 7.4rem;
    }
    
    .bloodyLogo {
        height: 6rem;
        margin-left: 50px;
    }
}

@media (min-width: 1280px) {
    .container {
        height: 7.8rem;
    }

    .bloodyLogo {
        height: 6.5rem;
    }
}


@media (min-width: 1440px) {
    .bloodyLogo {
        height: 6.8rem;
    }
}



