.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 8rem;
    border-bottom: 1px solid var(--yellow-200);
}

.bloodyLogo {
    height: 5.5rem;
    margin-left: 25px;
}

@media (min-width: 1024) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        height: 9rem;
        border-bottom: 1px solid var(--yellow-200);
    }
    
    .bloodyLogo {
        height: 6.4rem;
        margin-left: 50px;
    }
}

@media (min-width: 1280px) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        height: 9rem;
        border-bottom: 1px solid var(--yellow-200);
    }
    
    .bloodyLogo {
        height: 6.8rem;
        margin-left: 50px;
    }
}


@media (min-width: 1440px) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        height: 9rem;
        border-bottom: 1px solid var(--yellow-200);
    }
    
    .bloodyLogo {
        height: 7rem;
        margin-left: 50px;
    }
}



