@media (min-width: 1024px) {
    .activeContainer {
        background-color: var(--yellow-200);
        padding: 5px 15px;
        border-radius: 8px;
    }
    
    .activeContainer a {
        color: var(--red);
    }
    
    a {
        font-size: 22px;
        color: var(--white);
        text-decoration: none;
    }
    
    a:hover {
        color: var(--red);
    }
}

@media (min-width: 1280px) {
    .activeContainer {
        background-color: var(--yellow-200);
        padding: 5px 20px;
        border-radius: 8px;
    }
    
    .activeContainer a {
        color: var(--red);
    }
    
    a {
        font-size: 24px;
        color: var(--white);
        text-decoration: none;
    }
    
    a:hover {
        color: var(--red);
    }
}

@media (min-width: 1440px) {
    .activeContainer {
        background-color: var(--yellow-200);
        padding: 5px 20px;
        border-radius: 8px;
    }
    
    .activeContainer a {
        color: var(--red);
    }
    
    a {
        font-size: 28px;
        color: var(--white);
        text-decoration: none;
    }
    
    a:hover {
        color: var(--red);
    }
}