.titleContainer {
    margin: 20px 0;
}

.title {
    font-size: 1.2rem;
}

.titleContent {
    display: flex;
    flex-direction: row;
    gap: 10px;

    margin-top: 5px;
}

.author {
    display: flex;
    flex-direction: row;
    gap: 5px;

    font-size: 0.9rem;
}

.firstPart {
    color: var(--gray-400);
    font-size: 0.8rem;
}

.secondPart {
    color: var(--yellow-200);
    font-size: 0.8rem;
}

.time {
    color: var(--gray-400);
    font-size: 0.8rem;
    font-weight: 400;
}