.container {
    width: 85%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

@media(min-width: 768px) {
    .container {
        width: 85%;
    }
}

@media(min-width: 1024px) {
    .container {
        width: 90%;
    }
}

@media(min-width: 1920px) {
    .container {
        width: 80%;
    }
}