.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    background: var(--black);
    width: 100%;
    height: 500px;
}

.container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.elements {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    position: absolute;
}

.prominence {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.contact {
    width: 85vw;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title h3 {
    font-size: 1.1rem;
    margin-left: 2.5px;
}

.underBar {
    width: 46vw;
    height: 3px;
    border-radius: 8px;
    background-color: var(--yellow-200);
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 25px;
    padding-left: 20px;
}

.iconsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.gmailContainer img {
    background-color: var(--white);
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
    opacity: 1;
}

.whatsappIcon {
    color: var(--whatsapp-green);
    height: 55px;
    width: 55px;
}

.copyright {
    margin-top: -10px;
}

.copyright h3 {
    font-size: 0.9rem;
    font-weight: 400;
}

@media(min-width: 375px) {
    .title h3 {
        font-size: 1.3rem;
        margin-left: 2.5px;
    }

    .info p {
        font-size: 1.1rem;
    }
    
    .copyright h3 {
        font-size: 1.1rem;
    }
    
}

@media(min-width: 768px) {
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    
        background: var(--black);
        width: 100%;
        height: 550px;
    }
    
    .elements {
        width: 75%;
    }

    .prominence {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

    .title h3 {
        font-size: 1.6rem;
        margin-left: 2.5px;
    }

    .info p {
        font-size: 1.3rem;
    }
    
    .copyright h3 {
        font-size: 1.3rem;
    }
}

@media(min-width: 1024px) {
    .container {
        height: 400px;
    }

    .elements {
        width: 90%;
    }

    .prominence {
        flex-direction: row;
        gap: 100px;
        width: 100%;
        margin-top: 40px;
    }

    .contact {
        width: 45vw;
    }
    
    .title h3 {
        font-size: 1.8rem;
    }
    
    .underBar {
        width: auto;
        height: 5px;
    }

    .info p {
        font-size: 1.3rem;
    }
    
    .copyright h3 {
        font-size: 1.3rem;
    }

    .copyright h3 {
        font-size: 1.3rem;
    }
}

@media(min-width: 1280px) {
    .contact {
        width: 45vw;
    }
    
    .title h3 {
        font-size: 2rem;
    }

    .info p {
        font-size: 1.4rem;
    }
    
    .copyright h3 {
        font-size: 1.4rem;
    }

    .copyright h3 {
        font-size: 1.4rem;
    }

    .gmailContainer img {
        height: 60px;
        width: 60px;
    }
    
    .whatsappIcon {
        color: var(--whatsapp-green);
        height: 65px;
        width: 65px;
    }
}

@media(min-width: 1600px) {
    .prominence {
        gap: 250px;
    }

    .iconsContainer {
        gap: 80px;
    }

    .gmailContainer img {
        height: 70px;
        width: 70px;
    }
    
    .whatsappIcon {
        color: var(--whatsapp-green);
        height: 75px;
        width: 75px;
    }
}

@media(min-width: 1920px) {
    .elements {
        width: 80%;
    }
}