.container {
    width: var(--container-size-mobile);

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

@media(min-width: 1024px) {
    .container {
        width: var(--container-size-small-desktop);
    }
}

@media(min-width: 1920px) {
    .container {
        width: var(--container-size-larg-desktop);
    }
}